/* 
	Generalized styles
*/

:root
{
	--primary-spacing: 175px;
	--secondary-spacing: 300px;
}

*
{
	font-family: "Titillium Web", serif !important;
}

body
{
	padding-top: 50px;
}

a
{
	color: black;
	text-decoration: none;
}

img
{
	max-width: 100%;
}


/* 
	Main
*/

#nav-header
{
	min-height: 48px;
	background-color: #F7F8F8;
	display: flex;
	justify-content: space-between;
	align-items: center;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999999;

	padding: 0 1rem;
	box-shadow: 0 0 50px 1px rgba(0, 0, 0, 0.25);
}

#nav-header > h1 svg
{
	width: 60px;
	height: auto;
}

#nav-header ul
{
	display: flex;
}

#nav-header  li a
{
	width: 100%;
	display: inline-block;
	text-transform: uppercase;
	padding: 1rem;
}
#nav-header  li a:hover
{
	background-color: white;
}

#home
{
	background-color: white;
}

main > header
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 5rem 0;
}
main > header svg
{
	width: 300px;
}
main > header span
{
	font-size: 2em;
}

/* 
	The showcase at the top of the page
*/

#articles-showcase
{
	height: 700px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr 30px 1fr;
	gap: 15px;

	margin: 0 var(--primary-spacing);
}
#articles-showcase article:nth-child(1)
{
	grid-area: 1 / 1 / 3 / 3;
}
#articles-showcase article:nth-child(2)
{
	grid-area: 1 / 3 / 2 / 4;
}
#articles-showcase article:nth-child(3)
{
	grid-area: 1 / 4 / 2 / 5;
}

#articles-showcase article:nth-child(4)
{
	grid-area: 3 / 1 / 5 / 3;
}

#articles-showcase article:nth-child(5)
{
	grid-area: 2 / 3 / 5 / 5;
}

/* 
	Showcase grid items
*/

#articles-showcase article
{
	background-color: gray;
	overflow: hidden;
	position: relative;
}

#articles-showcase a
{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#articles-showcase article header
{
	color: white;
	position: absolute;
	left: 1.5rem;
	bottom: 1.5rem;
	right: 1.5rem;
	z-index: 999;
}
#articles-showcase article h1
{
	font-size: 2.5em;
	font-weight: bold;
}
#articles-showcase article h2
{
	text-transform: uppercase;
	font-weight: 200;
}
#articles-showcase article img
{
	width: auto;
	max-width: initial;
	height: 105%;
	transition: height 0.25s ease-in-out;
}
#articles-showcase article .shadow
{
	background: linear-gradient(to top, black, transparent);
	pointer-events: none;
	position: absolute;
	bottom: 0;
	top: 50%;
	left: 0;
	right: 0;
}
#articles-showcase article:hover img
{
	height: 102.5%;
}

#articles-showcase article:nth-child(2) h1,
#articles-showcase article:nth-child(3) h1
{
	font-size: 1.25em;
}
#articles-showcase article:nth-child(4) header
{
	white-space: pre-line;
	top: 50%;
	transform: translateY(-50%);
	right: 2rem;
	left: 2rem;
	bottom: initial;
	text-align: center;
}
#articles-showcase article:nth-child(4) h1
{
	font-size: 2em;
}

/* 
	Popular articles section
*/

#popular-articles
{
	background-color: #F7F8F8;
	padding: 4rem 10%;
}

#popular-articles h3
{
	color: #a7aab2;
	font-weight: bold;
	font-family: "Montserrat", serif;
	font-size: 1.5em;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 4rem;
}

#popular-articles ul
{
	display: flex;
	gap: 1rem;
}

#popular-articles li
{
	display: flex;
	
	flex: 1;
}
#popular-articles li .index
{
	color: #c09;
	font-size: 2em;
	font-weight: 600;
	margin-right: 7.5px;
}
#popular-articles li a,
#latest-stories figcaption
{
	transition: text-decoration 0.25s ease-in-out;
	text-decoration-color: transparent;
	font-size: 1.125em;
	font-weight: 600;
	line-height: 1.5em;
}
#popular-articles li a:hover,
#latest-stories figcaption:hover
{
	text-decoration: underline;
	text-decoration-color: rgba(204, 0, 153, 0.5);
	text-decoration-thickness: 2px;
	text-underline-offset: 4px;
}

/* 
	Latest stories
*/

#latest-stories
{
	margin: 7.5rem var(--secondary-spacing);
}

#latest-stories h2
{
	font-size: 2.25em;
	font-weight: 700;
	margin-bottom: 3.5rem;
}

#latest-stories .grid
{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 1rem;
}

#latest-stories article
{
	min-height: 250px;
}
#latest-stories article img
{
	width: 100%;
	height: auto;
}
#latest-stories article figcaption
{
	margin-top: 1rem;
	margin-bottom: 0.25rem;
}
#latest-stories article .timestamp
{
	color: rgba(142, 142, 142, 0.75);
}

#all-news
{
	width: max-content;
	display: block;
	font-weight: 600;
	text-transform: uppercase;
	padding: 1rem 2rem;
	margin: 4rem auto;
	border-radius: 100px;
	border: 1px solid rgba(0, 0, 0, 0.25);
}
#all-news:hover
{
	border: 1px solid rgba(0, 0, 0, 0.5);
}

/* 
	Explore our channels section
*/

#explore-channels,
#video-section
{
	background-color: #F7F8F8;
	padding: 7.5rem var(--primary-spacing);
}

#explore-channels h3,
#video-section h3
{
	font-size: 2.25em;
	font-weight: 700;
	margin-bottom: 3.5rem;
}

#explore-channels > .container
{
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
}

#explore-channels a
{
	flex: 1 1 105px;
}

#explore-channels article
{
	height: 232px;
	background: black;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	
	padding: 2rem 1rem;
}
#explore-channels article img
{
	width: 50%;
	height: auto;
}
#explore-channels article h4
{
	color: white;
	font-size: 1.125em;
	font-weight: 600;
	text-align: center;
}

/* 
	Newsletter section
*/

#newsletter-divider
{
	height: 360px;
	background: url(https://next.tnwcdn.com/assets/next/img/spacesbg.png), black;
	background-size: cover;
	background-attachment: fixed;
	background-position: 50%;
	color: white;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	
	padding: 5rem 1.5rem;
}

#newsletter-divider h2
{
	font-size: 4em;
	font-weight: bold;
	letter-spacing: -2px;
}

#newsletter-divider p
{
	font-size: 1.125em;
}

#newsletter-divider a
{
	color: #0cc;
}
#newsletter-divider a:hover
{
	color: white;
}

#newsletter-divider input[type="email"]
{
	width: 100%;
	max-width: 800px;
	padding: 0.75rem 0.5rem;
	outline: none;
}

#newsletter-divider button
{
	height: 100%;
	background-color: #c09;
	color: white;
	font-size: 1.125em;
	font-weight: 600;
	text-transform: uppercase;
	padding: 0 0.5rem;
	border: none;
}
#newsletter-divider button:hover
{
	background-color: #4cacff;
}

/* 
	Video section
*/

#video-section .container
{
	width: 100%;
}

#video
{
	height: 0;
	position: relative;
	padding-bottom: 56.25%;
}
#video iframe
{
	width: 100%;
	height: 100%;
	position: absolute;
	inset: 0;
}

/* 
	Footer
*/

#main-footer
{
	background-color: black;
	padding: 2.5rem 0;
} 

#main-footer .top
{
	width: 100%;
	color: white;
	
	display: flex;
	justify-content: space-evenly;
	padding-bottom: 1rem;
	border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

#main-footer .top > section span
{
	font-size: 1.5em;
	margin-top: 1rem;
}

#main-footer .top h3
{
	font-size: 1.25em;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 1rem;
}
#main-footer .top li
{
	margin: 0.35rem 0;
}
#main-footer .top a
{
	color: #0cc;
}

#main-footer .bottom
{
	color: rgb(167, 170, 178);
	white-space: pre-line;
	text-align: center;
	word-spacing: 1.5px;
	line-height: 1.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2.5rem 0;
}
#main-footer .bottom a
{
	color: white;
	transition: color 0.5s ease-in-out;
}
#main-footer .bottom a:hover
{
	color: #c09;
}

/* 
	Media Queries
*/

@media screen and (max-width: 768px)
{
	#nav-header nav,
	#nav-header > a
	{
		display: none;
	}

	main > header
	{
		flex-direction: column;
	}

	#articles-showcase
	{
		height: 1000px;
		grid-template-rows: repeat(3, 1fr);
	}
	#articles-showcase article h1
	{
		font-size: 1.25em;
	}
	#articles-showcase article:nth-child(1)
	{
		grid-area: 1 / 1 / 2 / 5;
	}
	#articles-showcase article:nth-child(2)
	{
		grid-area: 2 / 1 / 3 / 3;
	}
	#articles-showcase article:nth-child(3)
	{
		grid-area: 3 / 1 / 4 / 3;
	}
	#articles-showcase article:nth-child(4)
	{
		grid-area: 2 / 3 / 3 / 5;
	}
	#articles-showcase article:nth-child(5)
	{
		grid-area: 3 / 3 / 3 / 5;
	}

	#popular-articles ul
	{
		flex-direction: column;
	}

	#newsletter-divider h2
	{
		font-size: 1.5em !important;
		letter-spacing: 0;
	}

	#video-section
	{
		padding-right: 0;
		padding-left: 0;
	}
	#video-section h3
	{
		text-align: center;
	}
}

@media screen and (max-width: 615px)
{
	#latest-stories
	{
		margin-right: 25px;
		margin-left: 25px;
	}
}

@media screen and (max-width: 1700px)
{
	:root
	{
		--primary-spacing: 50px;
		--secondary-spacing: 125px;
	}
}

@media screen and (max-width: 1100px)
{
	#newsletter-divider h2
	{
		font-size: 2em;
	}
}
